
div{outline: 1px solid black;}

.wrapper {
		width: 1200px;
		margin: 0 auto;
		background: pink;
		color:white;}

/*block1*/
.block1 {display: flex;} 

.block1_left {flex:0 0 300px;}
.block1_middle {flex:0 0 300px;}
.block1_right {flex:0 0 600px;}

/*block2*/
.block2 {display: flex;}
.block2_left {flex:0 0 600px;}
.block2_right {flex:0 0 600px;}
/*block3*/
.block3 {display: flex;}
.block3_left{flex:0 0 400px;}
.block3_right{flex:0 0 800px;}
.block3_right_bottom{display: flex;}
.block3_right_bottom_left{flex:0 0 400px;}
.block3_right_bottom_right{flex:0 0 400px;}

/*block4*/
.block4{display: flex;}
.block4_left{flex:0 0 800px;}
.block4_right{flex:0 0 400px;}
.block4_left_bottom{display: flex;}
.block4_left_bottom_left{flex:0 0 400px;}
.block4_left_bottom_right{flex:0 0 400px;}
.block4_left_bottom_left_bottom{display: flex;}
.block4_left_bottom_left_bottom_left{flex:0 0 200px;}
.block4_left_bottom_left_bottom_right{flex:0 0 200px;}
/*end*/

	


